{% extends "base.twig" %}
{% block page_title %}{{ parent() }} Tabs{% endblock %}
{% block title %}{{ parent() }} <a href="/lyrics/{{ slug }}.html">lyrics</a>{% endblock %}
{% block content %}
    {% for version in versions %}
    {% if version.version %}
    <h2>{{ version.version|e }}</h2>
    {% endif %}
    <pre>{{ version.tabs|e }}</pre>
    {% endfor %}
{% endblock %}
